#textdomain aww
# feature 20 Tools
# Author: Toranks

# Feature to manage micro_ai (very basic version)
[event]
    name=aww_21_fast_ai_on
    first_time_only=no
	[micro_ai]
		side=$aww_21_side_number
		ca_id=aww_fast_ai
		ai_type=fast_ai
		action=add
	[/micro_ai]
[/event]

[event]
    name=aww_21_fast_ai_off
    first_time_only=no
	[micro_ai]
		side=$aww_21_side_number
		ca_id=aww_fast_ai
		ai_type=fast_ai
		action=delete
	[/micro_ai]
[/event]
